<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Heroes.Core.Battle.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Heroes.Core.Battle.Properties.Settings>
            <setting name="FullScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwordManImage" serializeAs="String">
                <value>ccrusd36.dds</value>
            </setting>
        </Heroes.Core.Battle.Properties.Settings>
    </applicationSettings>
</configuration>